<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AstractFactory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6B791C51F18FC77001F3E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6B791D91F18FC77001F3E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6B791E41F18FC77001F3E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
